@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://cdn.jsdelivr.net/gh/wan2land/d2coding/d2coding-ligature-subset.css');

/* 작동하지는 않음. 우선은 그냥 두기로... */
@view-transition {
  navigation: auto;
}

@layer base {
  :root {
    --radius: 0.5rem;
    /* custom */
    --dark-bg: #1e1e1e;
    --dark-text: #e0e0e0;
    --light-bg: #f5f5f5;
    --light-text: #333333;
    --font-d2coding: 'D2Coding';
    --header-height: 100px;

    ::selection {
      @apply bg-primary-500 text-white;
    }
  }

  body {
    @apply bg-white text-black antialiased dark:bg-gray-950 dark:text-white;
  }

  a:hover {
    @apply underline;
  }
}

@layer utilities {
  .link {
    @apply text-primary-500 hover:text-primary-600 dark:hover:text-primary-400;
  }
  .link-block {
    @apply flex items-center gap-2 rounded-md border p-3 hover:bg-gray-50 dark:hover:bg-gray-900;
  }
}

/* 작동하지는 않음. 우선은 그냥 두기로... */
::view-transition-group(root) {
  animation-duration: 0.5s;
}
/* ::view-transition-group(main) {
  animation-duration: 0.5s;
}
main {
  view-transition-name: main;
} */

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

.katex-display {
  overflow: auto hidden;
}

.content-header {
  scroll-margin-top: var(--header-height);
}

.content-header-link {
  opacity: 0;
  margin-left: -24px;
  padding-right: 4px;
}

.content-header:hover .content-header-link,
.content-header-link:hover {
  opacity: 1;
}

.linkicon {
  display: inline-block;
  vertical-align: middle;
}

@keyframes grow-progress {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

#page-progress {
  @apply fixed left-0 top-0 z-60 h-1 w-full bg-primary-500;
  transform-origin: 0 50%;
  animation: grow-progress auto linear;
  animation-timeline: scroll();
}

/* gnb animation */
@keyframes toggle-gnb {
  from {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  to {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@keyframes toggle-logo {
  from {
    width: 64px;
  }
  to {
    width: 48px;
  }
}

.gnb {
  --ani-start: 100px;
  --ani-end: 200px;

  animation: toggle-gnb linear both;
  animation-timeline: scroll();
  animation-range: var(--ani-start) var(--ani-end);

  .logo {
    animation: toggle-logo linear both;
    animation-timeline: scroll();
    animation-range: var(--ani-start) var(--ani-end);
  }
}
